* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

* linguist-language=PHP

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

/public/* linguist-vendored
/resources/js/* linguist-vendored
